body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-self: center;
    background-color: rgb(254, 109, 6);
}

.container {
    max-width: 500px;
    margin: 0 auto; 
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(27, 27, 27, 0.1);
    background-color: #034b25;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    opacity: 0;
    transform: translate(-50px);
    transition: opacity 1.0s ease, transform 1.0s ease;
}
.container.show {
    opacity: 1;
    transform: translateY(0);
}


form {
    text-align: center;
}
h1 {
    font-size: 30;
    margin-bottom: 10px;
    color: white;
}
h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: white;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 14px;
    margin-top: 10px;
    color: white;
}

a {
    color: yellow;
    text-decoration: none;
}
img {
    margin: -50px; /* Horizontally center the container */
    padding: 30px;
}

/* CSS for the navbar */
.Navbar {
    background-color: #034b25; /* Green background color */
    padding: 30px 0;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Navbar li {
    display: inline;
    margin-right: 20px;
}

.Navbar a {
    text-decoration: none;
    color: #fff; /* White text color for links */
    font-weight: bold;
}

.Navbar a:hover {
    text-decoration: underline;
}
.Check{
    background-color: #034b25; /* Green background color */
    padding: 10px 0;
}